:has(#toolbar-menubar[inactive="true"]):has( #PersonalToolbar[collapsed="false"]) {
  #TabsToolbar {
    top: 60px !important;
  }
}
:has(#toolbar-menubar:not([inactive="true"])):has( #PersonalToolbar[collapsed="false"]) {
  #TabsToolbar {
    top: 84px !important;
  }
}
:has(#toolbar-menubar[inactive="true"]):has( #PersonalToolbar[collapsed="true"]) {
  #TabsToolbar {
    top: 37px !important;
  }
}
:has(#toolbar-menubar:not([inactive="true"])):has( #PersonalToolbar[collapsed="true"]) {
  #TabsToolbar {
    top: 60px !important;
  }
}
  #TabsToolbar {
    height: 30px !important;
}
.tab-content {
  position: relative !important;
  top: 0x !important;
}

.tab-content[selected] {
  position: relative !important;
  top: -2px !important;
}

/*.tab-content[selected] {
  z-index: 300000 !important;
    --tab-bg-hover: linear-gradient(to bottom, rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .4) 10%, rgba(255, 255, 255, .39) 100%);
  opacity: 1 !important;
}
  #PersonalToolbar {
    height: 25px !important;
    position: relative !important;
    top: 30px !important;
  }
:has(#toolbar-menubar:not([inactive="true"])) {
  #TabsToolbar {
    top: 23px !important;
    
      border-bottom: none !important;
  }
  #nav-bar {
    top: 27px !important;
  }

}
:has(#toolbar-menubar[inactive="true"]) {
    #TabsToolbar {
      border-bottom: none !important;
  }
  #nav-bar {
    top: 28px !important;
  }
} */
